@import 'katex/dist/katex.min.css';

:root {
  --ifm-color-primary: #2563eb;
  --ifm-color-primary-dark: #1d4ed8;
  --ifm-color-primary-darker: #1e40af;
  --ifm-color-primary-darkest: #172554;
  --ifm-color-primary-light: #3b82f6;
  --ifm-color-primary-lighter: #60a5fa;
  --ifm-color-primary-lightest: #93c5fd;
}

[data-theme='dark'] {
  --ifm-color-primary: #38bdf8;
  --ifm-color-primary-dark: #0ea5e9;
  --ifm-color-primary-darker: #0284c7;
  --ifm-color-primary-darkest: #075985;
  --ifm-color-primary-light: #67e8f9;
  --ifm-color-primary-lighter: #a5f3fc;
  --ifm-color-primary-lightest: #cffafe;
}
